.github/CODEOWNERS  @netlify/netlify-dev
docs/  @netlify/netlify-dev  @netlify/department-docs
site/  @netlify/netlify-dev  @netlify/department-docs
/scripts/docs.js  @netlify/netlify-dev  @netlify/department-docs
/src/functions-templates/ @netlify/ecosystem-pod-developer-foundations @netlify/runtime-pod-compute
/src/lib/functions/ @netlify/ecosystem-pod-developer-foundations @netlify/runtime-pod-compute
/src/lib/edge-functions/ @netlify/ecosystem-pod-developer-foundations @netlify/runtime-pod-compute
/src/utils/functions/ @netlify/ecosystem-pod-developer-foundations @netlify/runtime-pod-compute
