*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
node_modules
misc
coverage
/.netlify
.idea

# node sdk
vendor

# osx
.DS_STORE
.vscode
coverage
test-site
site/dist
site-cra

site/src/**/*.md
!site/src/register-addon.md
!site/src/register-addon-thanks.md
oclif.manifest.json

# Local Netlify folder
.netlify

.eslintcache

tests/hugo-site/resources
tests/hugo-site/out

.github/styles
