*-debug.log
*-error.log
/dist
/tmp
node_modules
!**/__fixtures__/**/node_modules
misc
coverage
.idea
.vscode
!.vscode/launch.json
.github/styles


# node sdk
vendor

# osx
.DS_STORE

# Local Netlify folder
/.netlify

# Test site IDs for CI cleanup
.netlify-test-site-ids

# site
site/dist
site/.astro/
site/src/**/*.md

# tests
.verdaccio-storage
.eslintcache
_test_out/**
*.crt
*.key

# Used in local dev by tsc: https://www.typescriptlang.org/tsconfig/#tsBuildInfoFile
tsconfig.tsbuildinfo
