*-debug.log
*-error.log
/dist
/tmp
node_modules
!**/__fixtures__/**/node_modules
misc
coverage
.idea
.vscode
!.vscode/launch.json
.github/styles

# compiled files
*.mjs
*.d.mts
tsconfig.tsbuildinfo

# node sdk
vendor

# osx
.DS_STORE

# Local Netlify folder
/.netlify

# site
test-site
site/dist
site-cra
site/src/**/*.md
!site/src/register-addon.md
!site/src/register-addon-thanks.md

# tests
.verdaccio-storage
.eslintcache
_test_out/**
*.crt
*.key
