@font-face {
  font-family: Pacaembu;
  src: url('./pacaembuvar-latin-nohint.woff2') format('woff2');
  font-weight: 100 1000;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: Mulishvar;
  src: url('./mulishvar-latin-nohint.woff2') format('woff2');
  font-weight: 100 1000;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215;
}

@font-face {
  font-family: Mulishvar;
  src: url('./mulishvar-italic-latin-nohint.woff2') format('woff2');
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215;
}
