name: Maintaining Contributors List
on:
  pull_request:
    branches: [main]

jobs:
  update-contributors:
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/github-app-token-generator@2d70c12368d1958155af4d283f9f21c9a2a8cb98
        id: get-token
        with:
          private-key: ${{ secrets.TOKENS_PRIVATE_KEY }}
          app-id: ${{ secrets.TOKENS_APP_ID }}
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: netlify/update-contributors-action@main
        with:
          github-token: ${{ steps.get-token.outputs.token }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore: update contributors field'
          file_pattern: package.json
          commit_user_name: Contributors[bot]
