name: E2E Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # check daily to notice potential package manager issues
    - cron: '0 1 * * *' # At 01:00 daily

jobs:
  e2e-windows:
    name: E2E Windows tests
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    env:
      DEBUG: true
    strategy:
      matrix:
        os: [windows-latest]
        # Pinning 20.x version as a temporary workaround due to this https://github.com/nodejs/node/issues/52884
        node-version: ['18.14.0', '20.12.2', '22']
      fail-fast: false

    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          check-latest: true
      - name: Cache verdaccio storage
        uses: actions/cache@v4
        with:
          path: ./.verdaccio-storage
          key: verdaccio-e2e-cli-${{ hashFiles('./package-lock.json') }}
      - name: Install dependencies
        run: npm ci --no-audit
      - name: Build package
        run: npm run build
      - run: npm run e2e
      - name: Notify Slack
        uses: 8398a7/action-slack@v3
        if: ${{ github.event_name == 'schedule' && failure() }}
        with:
          status: custom
          fields: workflow
          custom_payload: |
            {
              attachments: [{
                title: 'E2E Test Failed! (${{ matrix.os }},node-${{ matrix.node-version }}',
                color: 'danger',
                text: `${process.env.AS_WORKFLOW}\n\nEither something broke or a test is flaky.\n\nConsider doing something about it :fire_engine:`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  e2e-linux-based-os:
    name: E2E
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    env:
      DEBUG: true
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        node-version: ['18.14.0', '*']
      fail-fast: false

    steps:
      - name: Git checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          check-latest: true
      - name: Cache verdaccio storage
        uses: actions/cache@v4
        with:
          path: ./.verdaccio-storage
          key: verdaccio-e2e-cli-${{ hashFiles('./package-lock.json') }}
      - name: Install dependencies
        run: npm ci --no-audit
      - name: Build package
        run: npm run build
      - run: npm run e2e
      - name: Notify Slack
        uses: 8398a7/action-slack@v3
        if: ${{ github.event_name == 'schedule' && failure() }}
        with:
          status: custom
          fields: workflow
          custom_payload: |
            {
              attachments: [{
                title: 'E2E Test Failed! (${{ matrix.os }},node-${{ matrix.node-version }}',
                color: 'danger',
                text: `${process.env.AS_WORKFLOW}\n\nEither something broke or a test is flaky.\n\nConsider doing something about it :fire_engine:`,
              }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
