---
name: release-please
on:
  push:
    branches:
      - main
jobs:
  create-release:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: navikt/github-app-token-generator@793caf0d755fb4d6e88150825f680f188535cb48
        id: get-token
        with:
          private-key: ${{ secrets.TOKENS_PRIVATE_KEY }}
          app-id: ${{ secrets.TOKENS_APP_ID }}

      - uses: GoogleCloudPlatform/release-please-action@v4
        id: release
        with:
          token: ${{ steps.get-token.outputs.token }}
          release-type: node
          package-name: netlify-cli

  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    needs: create-release
    if: ${{ needs.create-release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: npm
          registry-url: 'https://registry.npmjs.org'

      # Used by E2E tests
      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install core dependencies
        run: npm ci --no-audit

      - name: Build project
        run: npm run build

      - name: Run E2E tests
        run: npm run test:e2e

      - name: Publish netlify-cli package
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Prepare netlify package
        run: node scripts/netlifyPackage.js

      - name: Publish netlify package
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
