---
name: Typecheck

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'
      - '!release-please--**'

jobs:
  typecheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: 22.20.0
          cache: npm

      - name: Install dependencies
        run: npm ci --no-audit

      - name: Typecheck
        run: npm run typecheck
