---
name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'
      - '!release-please--**'

jobs:
  unit:
    name: Unit
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-2025]
        node-version: ['20.12.2', '22.x', '24']
        exclude:
          - os: windows-2025
            node-version: '22.x'
      fail-fast: false
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          check-latest: true

      - name: Install core dependencies
        run: npm ci --no-audit

      - name: Build project
        run: npm run build

      - name: Run unit tests
        run: npm run test:unit -- --coverage
