name: Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  unit:
    name: Unit
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        node-version: ['18.14.0', '*']
      fail-fast: false
      exclude:
        - os: windows-latest
          node-version: '22.x'
    steps:
      # Sets an output parameter if this is a release PR
      - name: Check for release
        id: release-check
        # For windows we have to use $env:
        run: |-
          echo "IS_RELEASE=true" >> $GITHUB_OUTPUT
          echo "IS_RELEASE=true" >> $env:GITHUB_OUTPUT
        if: "${{ startsWith(github.head_ref, 'release-') }}"
      - name: Git checkout
        uses: actions/checkout@v4
        if: '${{!steps.release-check.outputs.IS_RELEASE}}'
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
          check-latest: true
        if: '${{!steps.release-check.outputs.IS_RELEASE}}'
      - name: Install core dependencies
        run: npm ci --no-audit
        if: '${{!steps.release-check.outputs.IS_RELEASE}}'
      - name: Linting
        run: npm run format:ci
        if: '${{!steps.release-check.outputs.IS_RELEASE}}'
      - name: Run unit tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 15
          max_attempts: 3
          retry_on: error
          command: npm run test:ci:vitest:unit
        if: '${{!steps.release-check.outputs.IS_RELEASE}}'
